nav {
  height: 80px;
  background: steelblue;

  .header-container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand {
      font-size: x-large;
    }

    .brand:hover {
      text-decoration: none;
    }

    .navigation-links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      

      a {
        margin: 0 20px 0 0;
        font-size: large;
      }

    }
  }
}
