/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.no-decor {
  text-decoration: none;
  color: inherit;
}

.no-decor:hover {
  text-decoration: underline;
}
