@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.no-decor {
  text-decoration: none;
  color: inherit;
}

.no-decor:hover {
  text-decoration: underline;
}

.container {
  width: 100vw;
}

.page-content {
  max-width: 1200px;
  margin: auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
